# Build results
bin/
obj/
Debug/
Release/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc

# NuGet
*.nupkg
packages/
*.snupkg
*.nuspec

# VS Code and Visual Studio settings
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Resharper
*.DotSettings.user

# Others
*.db
*.bak
*.tmp
*.user
page source.txt
